body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col-md-5{
  margin-top: 100px !important;
}

h1{
  font-weight: bold !important;
}

input{
  border: 2px solid black !important;
  display: inline !important;
  width: 70% !important;
  margin-bottom: 20px !important;
} 

button{
  margin-left: 20px !important;
}

i{
  color: red;
}

p{
  font-weight: bold;
  display: inline !important;
  margin: 10px;
}